@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.background-gradient-dark {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    at right top,
    rgb(0, 0, 0),
    rgb(37, 99, 235),
    rgb(255, 255, 255)
  );
}

.background-gradient {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    at right top,
    rgb(255, 255, 255),
    rgb(37, 99, 235),
    rgb(0, 0, 0)
  );
}
